.card{
    height: 60vh;
    margin: 25px;
    padding: 25px;
}
.center{
    position: absolute;
    top: 40%;
    left: 60%;
    transform: translate(-50%,-50%);
}
.card{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: none;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px black;
    border-radius: 6px;
    background-color: #F5F5F5;

}


