<header>
    <div class="navbar navbar-dark bg-warning shadow-sm">
        <div class="navbar-brand align-item-center  d-flex">
            <i class="fas fa-shipping-fast"></i>&nbsp;
            <strong>Jumia</strong>

<div class="input-group rounded">
    <input type="search" class="form-control rounded" [(ngModel)]="searchTerm" (keyup)="search($event)" placeholder="Search product" aria-label="Search"
    aria-describedby="search-addon" />
    <span class="input-group-text border-0" id="search-addon">
      <i class="fas fa-search"></i>
    </span>
  </div>
  
        </div>

        <button routerLink="cart" class="btn btn-primary">
            <i class="fas fa-shopping-cart"></i>
            <span style="background-color: red; font-size: .4em;" class="badge badge-wairing">{{totalItem}}</span>
        </button>

    </div>
</header>
