<div class="card-top container-fluid">
    <div class="container d-flex">

       <div class="item">
           <a>
               <img src="../assets/peter.png" class="img-fluid" alt="">
           </a>
           <h6>Fashion</h6>

       </div> 
       <div class="item">
        <a>
            <img style="margin-top: 2rem;" src="../assets/peter2.png" class="img-fluid" alt="">
        </a>
        <h6>all products</h6>
           
       </div>
       <div class="item">
        <a>
            <img  style="margin-top: 2.2rem;" src="../assets/peter4.png" class="img-fluid" alt="">
        </a>
        <h6>Accessories</h6>
           
       </div>

    </div>

</div>

<div class="container mt-4">
    
    <div class="row gy-4">
        
        <ng-container *ngFor="let product of products">
            <div class="col-lg-4">
                <div class="card">
                    <img class="card-img-top img-thumbnail" src="{{product.image}}" alt="Card image cap">
                    <div class="card-body">
                        <h5 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;" class="card-title">{{product.title}}</h5>
                        <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;" class="card-text">{{product.description}}</p>
                        <p class="card-text">{{product.category}}</p>
                        <p class="card-text"><strong>Price</strong> ${{product.price}}</p>
                        <a href="#" class="btn btn-warning">Add to cart</a>
                    </div>
                </div>
                
            </div>
        </ng-container>
        
    </div>

  
</div>
      

    
